# comment
# see doc: https://docs.docker.com/engine/reference/builder/#dockerignore-file

Dockerfile
.dockerignore
README.*

# Lines starting with ! (exclamation mark) can be used to make exceptions to exclusions.
# *.md
# !README.md

# The placement of ! exception rules influences the behavior: 
# the last line of the .dockerignore that matches a particular file determines 
# whether it is included or excluded.
